<style type="text/css">
    .mini-footer {
 background:#192027;
 text-align:center;
 padding:32px 0
}
.mini-footer p {
 margin:0;
 bottom: 0;
 line-height:26px;
 font-size:15px;
 color:#999
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color:#34bfa3
}
}
@media (max-width:991px) {
 .footer-menu {
  padding-left:0
 }
}

</style>
<div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>© 2021
              <a href="#">WeAreLegion</a>. All rights reserved. Created by
              <a href="https://github.com/NickBwalley/">NickBwalley</a>
            </p>
          </div>

          <div class="go_top">
            <span class="icon-arrow-up"></span>
          </div>
        </div>
      </div>
    </div>
  </div>