{%  extends 'App1/main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Home</a>
			<hr>
			<h3 style="text-align: center">My Profile</h3>
			<hr>
			<img class="profile-pic" src="{{request.user.profile_pic.url}}" >
		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token	%}

				<div class="form-group">
            		<div class="col-lg-8">
              			{{form.firstname|as_crispy_field }}
            		</div>
          		</div>

          		<div class="form-group">
            		<div class="col-lg-8">
              			{{form.surname|as_crispy_field }}
            		</div>
          		</div>

          		<div class="form-group">
            		<div class="col-lg-8">
              			{{form.email|as_crispy_field }}
            		</div>
          		</div>

          		<div class="form-group">
            		<div class="col-lg-8">
              			{{form.phonenumber|as_crispy_field }}
            		</div>
          		</div>

          		<div class="form-group">
            		<div class="col-lg-8">
              			{{form.country|as_crispy_field }}
            		</div>
          		</div>

          		<div class="form-group">
            		<div class="col-lg-8">
              			{{form.university|as_crispy_field }}
            		</div>
          		</div>

          		<div class="form-group">
            		<div class="col-lg-8">
              			{{form.course|as_crispy_field }}
            		</div>
          		</div>

          		<div class="form-group">
            		<div class="col-lg-8">
              			{{form.password1|as_crispy_field }}
            		</div>
          		</div>

          		<div class="form-group">
            		<div class="col-lg-8">
              			{{form.password2|as_crispy_field }}
            		</div>
          		</div>
		
			<input class="btn btn-success" type="submit" name="Update Information" value="Save Changes">
			</form>
		</div>
	</div>
</div>



{% endblock %}