{%  extends 'App1/main.html' %}
{% load static %}
{% block content %}


<style>
    .profile-pic{
        max-width: 200px;
        max-height:200px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>

<br>
<div class="row justify-content-md-center">
    <div class="col-md-5">
        <div class="card card-body">
            <!-- <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Home</a> -->
            <!-- <hr> -->
            <h5 style="text-align: center">{{account.username}}</h5>
            <hr>
            <img class="profile-pic" src="{{account.profile_pic.url}}" >
      <div class="mt-3 text-center">
        <!-- <button class="btn btn-primary" type="button">
          <i class="fas fa-camera"></i>
          <span>Change Photo</span>
          <input type="file" name="">
        </button> -->
        <p class="mb-0">{{account.bio}}</p> 
      </div>
        <hr>
          <!-- <textarea placeholder="Enter your Bio" readonly>{{request.user.bio}}</textarea> -->
        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
          <div class="text-center text-sm-left mb-2 mb-sm-0">
            <!-- <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{request.user.username}} </h4> -->
            <!-- {% if 'is_self == True' %}
            <p class="mb-1">Email: {{account.email}}</p> 
              {% elif 'is_self == False' %}
                {% if account.hide_email %}
                  <p class="mb-1">Email: ***************</p>
                {% else %}
                  <p class="mb-1">Email: {{account.email}}</p>
                {% endif %}
                
            {% endif %}
            <p class="mb-1">Phonenumber: {{account.phonenumber}}</p>
            <p class="mb-1">Country: {{account.country}}</p>  
            <p class="mb-1">UserId: {{account.id}}</p> 
            <hr> -->
            {% if request.user.id == account.id %}
            <p class="mb-1">Email: {{account.email}}</p>
            {% else %}
              {% if account.hide_email %}
              <p class="mb-1">Email: ****************</p>
              {% else %}
                <p class="mb-1">Email: {{account.email}}</p>

                {% endif %}
              
            {% endif %}

            {% if request.user.id == account.id %}
            <p class="mb-1">Phonenumber: {{account.phonenumber}}</p>
            {% else %}
              {% if account.hide_phonenumber %}
              <p class="mb-1">Phonenumber: ****************</p>
              {% else %}
                <p class="mb-1">Phonenumber: {{account.phonenumber}}</p>

                {% endif %}
              
            {% endif %}
            
            <p class="mb-1">Country: {{account.country}}</p>  
            <!-- <p class="mb-1">UserId: {{account.id}}</p> --> 
            <hr>
            
            {% if account.is_admin %}
            <span class="badge badge-secondary">Administrator</span>
            {% else %}
            <span class="badge badge-secondary">Active-User</span>
            {% endif %}
            {% if account.is_verified %}
            <span class="material-icons" style="color: blue;">verified</span>
            {% endif %}
            <div class="text-muted"><small>Joined: {{account.date_joined}}</small></div>
            <div class="text-muted"><small>Last-Seen: {{account.last_login}}</small></div>
            <hr>
            {% if request.user.id == account.id %}
            <a class="btn btn-primary" href="{% url 'my_profile' %}">Update Profile</a>
            <hr>
            <a href="#">Change Password</a>
            {% endif %}
          </div>

        </div>
        </div>
    </div>
    
</div>



{% endblock %}